.blackjack-container {
	background-color: darkgreen;
	color: white;
	min-height: 100vh;
}

img {
	width: 100px;
}

.hands-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.home-button {
	background-color: rgb(202, 16, 131);
	border-radius: 4px;
	color: white;
	margin-bottom: 20px;
}

.deal-button {
	background-color: rgb(202, 16, 131);
	border-radius: 4px;
	color: white;
	margin-left: 10px;
}

.deal-button:disabled{
	background-color: rgb(230, 107, 183);
	
}