.overlay {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background-color: darkgreen;
    color: white;
    font-size: 18px;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
}