.small-snap {
	width: 100px;
}

.medium-snap {
	width: 150px;
}
.large-snap {
	width: 200px;
}
.cards-container {
	position: relative;
}

.cards-container img {
	position: absolute;
}
.card1 {
	left: 0px;
}
.card2 {
	left: 100px;
}
.card2b {
	left: 50px;
}
.above {
	z-index: 1;
}
.below {
	z-index: 0;
}